.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  padding-top: 2.5rem;
}

.selectGenerations {
  order: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
  max-width: 100%;
  padding: 8px;
  background-color: #fff;
}
