.search_container {
  display: flex;
  margin-top: var(--space-3xl);
  margin-bottom: var(--space-3xl);
  padding-left: 1rem;
  padding-right: 1rem;
}

.search_input {
  border-top-right-radius: var(--radius-xs);
  border-bottom-right-radius: var(--radius-xs);
  border-left: none;
  border-right: solid 1px var(--color-brand-3);
  border-bottom: solid 1px var(--color-brand-3);
  border-top: solid 1px var(--color-brand-3);
  background-color: var(--color-brand-1);
  width: 20rem;
  height: 2rem;
}

.search_icon {
  border-top-left-radius: var(--radius-xs);
  border-bottom-left-radius: var(--radius-xs);
  border-left: solid 1px var(--color-brand-3);
  border-bottom: solid 1px var(--color-brand-3);
  border-top: solid 1px var(--color-brand-3);
  background-color: var(--color-brand-1);
  height: 1.5rem;
  padding: 0.3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.search_input_active {
  border-top-right-radius: var(--radius-xs);
  border-bottom-right-radius: var(--radius-xs);
  border-left: none;
  border-right: solid 1px var(--color-type-poison);
  border-bottom: solid 1px var(--color-type-poison);
  border-top: solid 1px var(--color-type-poison);
  background-color: var(--color-brand-1);
  width: 20rem;
  height: 2rem;
}

.search_icon_active {
  border-top-left-radius: var(--radius-xs);
  border-bottom-left-radius: var(--radius-xs);
  border-left: solid 1px var(--color-type-poison);
  border-bottom: solid 1px var(--color-type-poison);
  border-top: solid 1px var(--color-type-poison);
  background-color: var(--color-brand-1);
  height: 1.5rem;
  padding: 0.3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@media (min-width: 768px) {
  .search_container {
    margin: 0 auto;
    margin-top: var(--space-3xl);
    margin-bottom: var(--space-3xl);

    padding-left: 0;
    padding-right: 0;
  }
  .search_input {
    width: 37.5rem;
  }

  .search_input_active {
    width: 37.5rem;
  }
}
