.search_container{
    display: flex;
    margin: 0 auto;

}

.search_input{
    border-top-right-radius: var(--radius-xs);
    border-bottom-right-radius: var(--radius-xs);
    border-left: none;
    border-right: solid 1px var( --color-brand-3);
    border-bottom: solid 1px var( --color-brand-3);
    border-top: solid 1px var( --color-brand-3);
    background-color: var(--color-brand-1);
    width: 22rem;
    height: 2rem;
}

.search_icon{
    border-top-left-radius: var(--radius-xs);
    border-bottom-left-radius: var(--radius-xs);
    border-left: solid 1px var( --color-brand-3);
    border-bottom: solid 1px var( --color-brand-3);
    border-top: solid 1px var( --color-brand-3);
    background-color: var(--color-brand-1);
    height: 2.1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}