.header {
  box-shadow: var(--shadow-l);
  border-bottom: var(--space-3xs) solid var(--color-brand-2);
}

.header_container {
  display: flex;
  height: 5rem;
  align-items: center;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.header_title {
  font-size: var(--font-size-desktop-headline);
}

.header_image {
  margin-right: var(--space-xs);
}

@media (min-width: 768px) {
  .header_container {
    width: 100%;
    max-width: 57.5rem;
    padding-left: 0;
    padding-right: 0;
  }
}
