:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --shadow-s: 0px 2px 3px -1px #7d3bec12, 0px 5px 10px -2px #7d3bec26;
  --shadow-m: 0px 4px 6px -2px #7d3bec0d, 0px 10px 15px -3px #7d3bec1a;
  --shadow-l: 0px 6px 8px -3px #7d3bec0d, 0px 15px 20px -5px #7d3bec1a;

  --color-type-grass: #a2ce69;
  --color-type-bug: #c6d282;
  --color-type-electric: #ebd56c;
  --color-type-ground: #d3ae6b;
  --color-type-fire: ##d36255;
  --color-type-fighting: #b44d54;
  --color-type-poison: #9756dc;
  --color-type-psychic: ##db6ab5;
  --color-type-fairy: #e8a9d3;
  --color-type-dragon: #b7b6db;
  --color-type-flying: #a2bfeb;
  --color-type-ghost: #655a7d;
  --color-type-water: #3cafe8;
  --color-type-ice: #c6fbf9;
  --color-type-normal: #d1d2c0;
  --color-type-rock: #a49d9a;
  --color-type-steel: #78817e;
  --color-type-dark: #3d413f;

  --color-brand-0: #ffffff;
  --color-brand-1: #f5f4f5;
  --color-brand-2: #eaeaeb;
  --color-brand-3: #d6d4d6;
  --color-brand-4: #c1bfc2;
  --color-brand-5: #ada9ad;
  --color-brand-6: #989499;
  --color-brand-7: #5c5a5d;
  --color-brand-8: #3f3d3f;
  --color-brand-9: #212021;
  --color-brand-10: #030303;

  --space-3xs: 0.125rem;
  --space-2xs: 0.25rem;
  --space-xs: 0.5rem;
  --space-s: 0.75rem;
  --space-m: 1rem;
  --space-l: 1.25rem;
  --space-xl: 1.5rem;
  --space-2xl: 2rem;
  --space-3xl: 2.5rem;
  --space-4xl: 4rem;

  --radius-2xs: 0.25rem;
  --radius-xs: 0.5rem;
  --radius-s: 0.75rem;
  --radius-m: 1rem;
  --radius-l: 1.25rem;
  --radius-xl: 1.5rem;
  --radius-2xl: 2rem;

  --font-size-desktop-caption: 0.75rem;
  --font-size-desktop-body: 0.875rem;
  --font-size-desktop-link: 1rem;
  --font-size-desktop-subheadline: 1.125rem;
  --font-size-desktop-headline: 1.5rem;
  --font-size-desktop-display1: 1.75rem;

  --font-size-mobile-caption: 0.75rem;
  --font-size-mobile-body: 0.875rem;
  --font-size-mobile-link: 0.875rem;
  --font-size-mobile-subheadline: 1rem;
  --font-size-mobile-headline: 1.25rem;
  --font-size-mobile-display1: 1.5rem;
}

* {
  font-family: 'Kanit';
}

.container {
  display: flex;
  flex-direction: column;
  min-width: 100vh;
}

.container_pokemon {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 57.5rem;
}

/* put input focus changes here */
input:focus {
  outline: none;
}
