:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-type-grass: #a2ce69;
  --color-type-bug: #c6d282;
  --color-type-electric: #ebd56c;
  --color-type-ground: #d3ae6b;
  --color-type-fire: ##d36255;
  --color-type-fighting: #b44d54;
  --color-type-poison: #9756dc;
  --color-type-psychic: ##db6ab5;
  --color-type-fairy: #e8a9d3;
  --color-type-dragon: #b7b6db;
  --color-type-flying: #a2bfeb;
  --color-type-ghost: #655a7d;
  --color-type-water: #3cafe8;
  --color-type-ice: #c6fbf9;
  --color-type-normal: #d1d2c0;
  --color-type-rock: #a49d9a;
  --color-type-steel: #78817e;
  --color-type-dark: #3d413f;

  --color-brand-0: #ffffff;
  --color-brand-1: #f5f4f5;
  --color-brand-2: #eaeaeb;
  --color-brand-3: #d6d4d6;
  --color-brand-4: #c1bfc2;
  --color-brand-5: #ada9ad;
  --color-brand-6: #989499;
  --color-brand-7: #5c5a5d;
  --color-brand-8: #3f3d3f;
  --color-brand-9: #212021;
  --color-brand-10: #030303;

  --space-3xs: 0.125rem;
  --space-2xs: 0.25rem;
  --space-xs: 0.5rem;
  --space-s: 0.75rem;
  --space-m: 1rem;
  --space-l: 1.25rem;
  --space-xl: 1.5rem;
  --space-2xl: 2rem;
  --space-3xl: 2.5rem;
  --space-4xl: 4rem;

  --radius-2xs: 0.25rem;
  --radius-xs: 0.5rem;
  --radius-s: 0.75rem;
  --radius-m: 1rem;
  --radius-l: 1.25rem;
  --radius-xl: 1.5rem;
  --radius-2xl: 2rem;

  --font-size-desktop-caption: 0.75rem;
  --font-size-desktop-body: 0.875rem;
  --font-size-desktop-link: 1rem;
  --font-size-desktop-subhedline: 1.125rem;
  --font-size-desktop-hedline: 1.5rem;
  --font-size-desktop-display1: 1.75rem;

  --font-size-mobile-caption: 0.75rem;
  --font-size-mobile-body: 0.875rem;
  --font-size-mobile-link: 0.875rem;
  --font-size-mobile-subhedline: 1rem;
  --font-size-mobile-hedline: 1.25rem;
  --font-size-mobile-display1: 1.5rem;
}

* {
  font-family: 'Kanit';
}

.card_name {
  margin: 0;
}

.card_number {
  margin: 0;
  color: var(--color-brand-2);
}

.card_header {
  display: flex;
  justify-content: space-between;
  color: var(--color-brand-0);
  margin-left: var(--space-xs);
  margin-right: var(--space-xs);
}

.pokemon_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 17.81rem;
  height: 25rem;
  padding: var(--space-xs);
  background-color: var(--color-type-grass);
  border-radius: var(--radius-xl);
}

.pokemon_stats_container {
  display: flex;
  flex-direction: column;
  background-color: var(--color-brand-0);
  border-radius: var(--radius-xl);
  width: auto;
  height: 15.63rem;
  justify-content: flex-end;
  padding: var(--space-s);
}
.pokemon_types {
  display: flex;
  justify-content: center;
  font-size: var(--space-s);
}

.pokemon_type_grass {
  width: auto;
  height: var(--space-xl);
  padding-left: var(--space-s);
  padding-right: var(--space-s);
  border-radius: var(--radius-2xl);
  background-color: var(--color-type-grass);
  color: var(--color-brand-0);
  display: flex;
  align-items: center;
  margin-right: var(--space-xs);
}
.pokemon_type_poison {
  width: auto;
  height: var(--space-xl);
  padding-left: var(--space-s);
  padding-right: var(--space-s);
  border-radius: var(--radius-2xl);
  background-color: var(--color-type-poison);
  color: var(--color-brand-0);
  display: flex;
  align-items: center;
}

.pokemon_measures {
  display: flex;
  justify-content: center;
  font-size: var(--space-s);
}

.pokemon_weight {
  width: auto;
  margin: var(--space-xs);
  display: flex;
  align-items: center;
  gap: var(--space-2xs);
}

.pokemon_length {
  width: auto;
  margin: var(--space-xs);
  padding: var(--space-xs);
  padding-left: var(--space-s);
  padding-right: var(--space-s);
  display: flex;
  align-items: center;
  border-left: var(--color-brand-2) solid 1px;
  gap: var(--space-2xs);
}

.pokemon_img {
  width: 8.75rem;
  height: 8.75rem;
  align-self: center;
  position: absolute;
  top: 4.5rem;
}

.pokemon_stats_list {
  padding: 0;
  margin: 0;
}

.pokemon_stats {
  display: flex;
  justify-content: flex-start;
  color: var(--color-brand-4);
  font-size: var(--space-s);
  list-style: none;
  align-items: center;
  
}

.pokemon_stat_number {
  color: var(--color-brand-10);
  padding-left: var(--space-xs);
  padding-right: var(--space-xs);

}

.pokemon_progress_bar {
  width: 12.8rem;
  accent-color: var(--color-brand-10);
}
