:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-type-grass: #a2ce69;
  --color-type-bug: #C6D282;
  --color-type-electric: #EBD56C;
  --color-type-ground: #D3AE6B;
  --color-type-fire: ##D36255;
  --color-type-fighting: #B44D54;
  --color-type-poison: #9756DC;
  --color-type-psychic: ##DB6AB5;
  --color-type-fairy: #E8A9D3;
  --color-type-dragon: #B7B6DB;
  --color-type-flying: #A2BFEB;
  --color-type-ghost: #655A7D;
  --color-type-water: #3CAFE8;
  --color-type-ice: #C6FBF9;
  --color-type-normal: #D1D2C0;
  --color-type-rock: #A49D9A;
  --color-type-steel: #78817E;
  --color-type-dark: #3D413F;

  --space-3xs:0.125rem;
  --space-2xs:0.25rem;
  --space-xs:0.5rem;
  --space-s:0.75rem;
  --space-m:1rem;
  --space-l:1.25rem;
  --space-xl:1.5rem;
  --space-2xl:2rem;
  --space-3xl:2.5rem;
  --space-4xl:4rem;

  --radius-2xs:0.25rem;
  --radius-xs:0.5rem;
  --radius-s:0.75rem;
  --radius-m:1rem;
  --radius-l:1.25rem;
  --radius-xl:1.5rem;
  --radius-2xl:2rem;
}

.card_header {
  display: flex;
  justify-content: space-between;
  color: white;
}
.pokemon_card {
  width: 17.81rem;
  height: 25rem;
  background-color: #a2ce69;
  border-radius: 1.7rem;
}

.pokemon_stats_container {
  background-color: white;
  border-radius: 1.7rem;
  width: auto;
  height: 10rem;
}
.pokemon_types {
  display: flex;
  justify-content: center;
}

.pokemon_type_grass {
  width: auto;
  height: 2rem;
  border-radius: 100px;
  background-color: #a2ce69;
  color: white;
}
.pokemon_type_poison {
  width: auto;
  height: 2rem;
  padding: 0.2rem, 0.2rem, 0.2rem, 0.2rem;
  border-radius: 100px;
  background-color: #9756dc;
  color: white;
}
