:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card_header {
  display: flex;
  justify-content: space-between;
  color: white;
}
.pokemon_card {
  width: 17.81rem;
  height: 25rem;
  background-color: #a2ce69;
  border-radius: 1.7rem;
}

.pokemon_stats_container {
  background-color: white;
  border-radius: 1.7rem;
  width: auto;
  height: 10rem;
}
.pokemon_types {
  display: flex;
  justify-content: center;
}

.pokemon_type_grass{
  width: auto;
  height: 5rem;
}
